md-dialog {
  border-radius: 15px;
  background-color: rgb(63, 81, 181);
  color: rgba(0, 0, 0, 0.87);
  min-width: 200px;
  max-width: 40%;
  position: relative;
}

/* md-dialog-content {
  font-style: oblique;
  padding-left: 25px;
} */
#next{
border-radius: 5px;
float: right;
min-width: 20px;
max-width: 20%;
}
.card{
  /* margin-top: 2.5%;
  height: 650px; */
  position: relative;
}
/* .md-card {
  overflow: hidden;
} */

/* .md-card-actions {
  width: 100%;
  height: auto;
} */
