
  <div layout='row' layout-align='space-around center' layout-wrap flex-offset="20" class="card">
    <div ng-repeat="x in jsonData | dashboardFilter:manufacturerArray:storageArray:osArray:cameraArray" flex-lg="30" >
      <md-card>
        <img ng-src="{{x.image.small}}" class="md-card-image" alt="Washed Out">
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">{{x.name}}</span>
          </md-card-title-text>
        </md-card-title>
        <md-card-content>
          <p><b>manufacturer:</b>{{x.specs.manufacturer}}</p>
          <p><b>storage:</b>{{x.specs.storage}}</p>
          <p><b>os:</b>{{x.specs.os}}</p>
          <p><b>camera:</b>{{x.specs.camera}}</p>
          <md-card-actions layout="row" layout-align="end center">
            <md-button class="md-primary">Buy Now</md-button>
            <md-button class="md-primary" ng-click="showAdvanced($event,x)">View</md-button>
            <p style="padding-left:18%;"><b>$</b>{{x.price}}</p>
          </md-card-actions>
        </md-card-content>
      </md-card>
    </div>
      <md-button id="next" class="md-primary md-raised" ui-sref="deletpage">Next Page</md-button>
  </div>
