<md-dialog>
  <form ng-cloak>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>{{item.name}}</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <md-icon><i>cancel</i></md-icon>
        </md-button>
      </div>
    </md-toolbar>
      <md-dialog-content>
        <div class="md-dialog-content">
          <img style="margin: auto; max-width: 100%;" alt="not found" src="{{item.image.large}}">
        </div>
        <p><p>Description: </p>{{item.description}}</p>
        
      </md-dialog-content>
  </form>
</md-dialog>
