<md-sidenav class="md-sidenav-left" md-disable-backdrop="false" md-component-id="left" style="position:fixed; margin-top:64px;">

  <md-toolbar class="md-toolbar-tools">
    <h1 class="md-toolbar-tools">Features of Mobiles</h1>
  </md-toolbar>
  <md-subheader>
    <h3>Manufacturer</h3></md-subheader>
  <div ng-repeat="x in jsonData |unique:'manufacturer'" layout-align="center" style="padding-left:20px;">
    <md-checkbox ng-click="toggle(x.specs.manufacturer,manufacturerArray)">{{x.specs.manufacturer}}</md-checkbox>
  </div>

  <md-subheader>
    <h3>Storage</h3></md-subheader>
  <div ng-repeat="x in jsonData |unique:'storage'"  style="padding-left:20px;">
    <md-checkbox ng-click="toggle(x.specs.storage,storageArray)">{{x.specs.storage}}</md-checkbox>
  </div>

  <md-subheader>
    <h3>OS</h3></md-subheader>
  <div ng-repeat="x in jsonData |unique:'os'" style="padding-left:20px;">
    <md-checkbox ng-click="toggle(x.specs.os,osArray)">{{x.specs.os}}</md-checkbox>
  </div>

  <md-subheader>
    <h3>Camera</h3></md-subheader>
  <div ng-repeat="x in jsonData |unique:'camera'" style="padding-left:20px;">
    <md-checkbox ng-click="toggle(x.specs.camera,cameraArray)">{{x.specs.camera}}</md-checkbox>
  </div>
  <!-- </md-sidenav-layout> -->
</md-sidenav>
