<md-toolbar class="md-hue-2" style="color: greenyellow;">
      <div class="md-toolbar-tools">
        <md-button class="md-icon-button" aria-label="Settings" ng-disabled="">
          <md-icon style="color: greenyellow;" ><i>menu</i></md-icon>
        </md-button>

        <h2 flex md-truncate>Online mobile Shopping</h2>

        <md-button class="md-icon-button" aria-label="Favorite">
          <md-icon style="color: greenyellow;"><i>favorite</i></md-icon>
        </md-button>

        <md-button class="md-icon-button" aria-label="More">
          <md-icon style="color: greenyellow;"><i>more_vert</i></md-icon>
        </md-button>
      </div>
    </md-toolbar>
